<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- custom css styles -->
    <link rel="stylesheet" href="/main.css" />

    <!-- font awesome link -->
    <script src="https://kit.fontawesome.com/7e9c096915.js" crossorigin="anonymous"></script>

    <title>Get Sh#t Done</title>
  </head>
  <body>
    <div id="container">
      <div id="logo"></div>

      <!-- form to submit tasks -->
      <form action="/create-todo" method="POST">
        <input type="text" class="user-input" placeholder="Task 2 Complete" name="text" />
        <input type="submit" class="user-button" value="Add" />
      </form>

      <!-- listing all todos -->
      <ul>
        <% for(var i =0; i < list.length; i++) { %>
        <li class="ninja-item"> <a href="/delete-todo/<%= list[i].id %>"> <%= list[i].text %> </a><i class="fas fa-pen-square"></i>  <a href="/todo/<%= list[i].id %>"> <i class="fas fa-eye"></i> </a> </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
