<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <title>Get Sh#t Done</title>
  </head>
  <body>
    <div id="container">
      <div id="logo"></div>

      <form action="">
        <input type="text" class="user-input" placeholder="Task 2 Complete" />
        <input type="submit" class="user-button" value="Add" />
      </form>

      <ul>
        <li class="ninja-item">Get Milk</li>
        <li class="ninja-item">Work on Project</li>
      </ul>
    </div>
  </body>
</html>
