<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Get S#it Done</title>
</head>
<body>
    <div class="container">
        <div class="logo"></div>
        <h1 class="text-white">Get Milk</h1>

        <p class="text-white">Extra info for our todo task get milk, make sure is cold, make sure is vegan , make sure is almond milk</p>
    </div>
</body>
</html>