<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- custom css styles -->
    <link rel="stylesheet" href="/main.css" />

    <!-- font awesome link -->
    <script src="https://kit.fontawesome.com/7e9c096915.js" crossorigin="anonymous"></script>
    <title>Get S#it Done</title>
  </head>
  <body>
    <div id="container">
      <div id="logo"></div>

      <h1 class="text-white"><%= todo.text %></h1>

      <p class="text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut illo eveniet rem molestiae ducimus reprehenderit odit! Molestiae laboriosam, deserunt pariatur excepturi omnis architecto laudantium ut incidunt magni illo. Assumenda, odit.
      </p>
    </div>
  </body>
</html>
