<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css">
    <title>Get Sh#t Done</title>
  </head>
  <body>
    <div class="container">
        <div class="logo"></div>

        <form action="">
            <input type="text" class="user-input" placeholder="Update Task">
            <input type="submit" class="user-button update-button" value="Update">
        </form>
    </div>
  </body>
</html>
